.error-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f8f9fa;
    color: #333;
    font-family: Arial, sans-serif;
}

.error-container h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    color: #dc3545;
}

.error-container p {
    font-size: 1.2rem;
    margin-bottom: 15px;
    max-width: 600px;
}

.error-container ul {
    list-style-type: none;
    padding: 0;
}

.error-container li {
    margin-bottom: 10px;
}

.error-container a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.error-container a:hover {
    color: #0056b3;
    text-decoration: underline;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #0056b3;
}
.order-number{
font-size: 1.5rem;
color: #007bff;
}
.order-cell{
    font-size: 1.2rem;
    color: darkcyan;
}