.page-container {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.items-page-categories {
  display: flex;
  flex-direction: column;
}
.items-page-category {
  background: none;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  transition: color 0.3s ease;
  overflow: visible;
  margin-bottom: 3px;
  white-space: wrap;
  word-wrap: break-word;
}
.items-page-category:hover,
.items-page-category.active {
  color: #e74c3c;
  background-color: #bfdfd3;
  border-right: 3px solid goldenrod;
}

.content-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 6fr;
  gap: 10px;
}

.sidebar {
  flex: 0 0 auto;
  position: sticky;
  top: 65px;
  height: fit-content;
  overflow: hidden;
  border: 2px solid green;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px 10px; /* Horizontal gap only */
  align-items: start;
  border: 2px solid red;
}

.product-item {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  overflow: hidden; /* Prevent overflow */
}

.product-item img {
  width: 100%;
  max-height: 380px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 0.5rem;
}
.product-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.product-item h3 {
  font-size: 1rem;
}

.product-desc {
  font-size: 0.9rem;
  line-height: 1.4;
  margin: 5px 0;
  flex-grow: 1;
  overflow: hidden; /* Prevent overflow */
  text-overflow: ellipsis; /* Add ellipsis for overflowed text */
  white-space: normal;
  word-wrap: break-word;
}

.cart-quantity {
  font-weight: 500;
  background-color: #e7d33c;
  color: #221f1f;
  padding: 0.2rem 0.6rem;
  border-radius: 50%;
}

.product-price {
  font-weight: bold;
  color: #e74c3c;
  margin: 10px 0;
}

.product-cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  margin-top: auto;
}

.cart-btn,
.remove-from-cart {
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 0.9rem;
}

.cart-btn {
  background-color: #3498db;
  color: #fff;
  flex-grow: 1;
  margin-right: 0.3rem;
}

.cart-btn:hover {
  background-color: #2980b9;
}

.remove-from-cart {
  background-color: #e74c3c;
  color: #fff;
  margin-left: 0.3rem;
}

.remove-from-cart:hover {
  background-color: #c0392b;
}

@media (max-width: 700px) {
  .product-grid {
    grid-template-columns: 1fr;
  }
  .content-wrapper {
    grid-template-columns: 3fr 5fr;
  }
}

@media (min-width: 701px) and (max-width: 1199px) {
  .product-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
