{% load humanize %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
<div class="checkout-container">
    <h1>Checkout</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <h2>Order Summary</h2>
        {% for item in cart_items %}
            <div class="checkout-item">
                <img src="{{ item.product.image.url }}" alt="{{ item.product.name }}" class="checkout-item-image">
                <div class="checkout-item-details">
                    <p>{{ item.product.name }}</p>
                    <p>Quantity: {{ item.quantity }}</p>
                    <p>Price: Ksh.{{ item.product.price|intcomma }}</p>
                    <p>Total: Ksh.{{ item.get_total_price|intcomma }}</p>
                </div>
            </div>
        {% endfor %}
        <h3>Total: Ksh.{{ total|intcomma }}</h3>
        <button type="submit">Confirm Order</button>
    </form>
</div>