{% load static %}
{% load custom_filters %}
{% load humanize %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shop With ECA - Premium Dresses, Jewelry, Home Decor, and Beauty Products</title>
    <meta
      name="description"
      content="Discover Shop With ECA: Your ultimate destination for elegant dresses, exquisite jewelry, trendy home decor, and premium beauty products. Elevate your style with our curated collection for every occasion."
    />
    <meta
      name="keywords"
      content="Shop With ECA, dresses, jewelry, home decor, beauty products, fashion accessories, online shopping, elma consolate, shop with elma,kenya store shop"
    />
    <meta name="robots" content="index, follow" />
    <link rel="canonical" href="https://shopwitheca.com/" />
    <meta property="og:type" content="website" />
    <meta
      property="og:title"
      content="Shop With ECA - Elevate Your Style | Fashion, Jewelry, Decor, and Beauty"
    />
    <meta
      property="og:description"
      content="Explore Shop With ECA's exclusive collection of dresses, jewelry, home decor, and beauty products. Find your perfect style for every occasion and transform your space."
    />
    <meta property="og:url" content="https://shopwitheca.com/" />
    <meta property="og:site_name" content="Shop With ECA" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Shop With ECA - Premium Fashion and Home Essentials" />
    <meta name="twitter:description" content="Discover trendsetting dresses, stunning jewelry, stylish home decor, and top-quality beauty products at Shop With ECA. Your one-stop shop for all things fashionable." />
    <meta name="twitter:image" content="{% static 'images/shop-with-eca-logo.jpg' %}" />
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">

    <link rel="stylesheet" href="{% static 'css/styles.min.css' %}" />
    
    <script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "WebSite",
  "name": "Shop With ECA",
  "url": "{% url 'home' %}",
  "potentialAction": {
    "@type": "SearchAction",
    "target": "{search_term_string}",
    "query-input": "required name=search_term_string"
  },
  "hasPart": [
    {
      "@type": "WebPage",
      "name": "Dresses",
      "description": "Explore our collection of elegant dresses for every occasion",
      "url": "{% url 'Dresses' %}",
      "potentialAction": {
        "@type": "ViewAction",
        "target": "{% url 'Dresses' %}"
      }
    },
    {
      "@type": "WebPage",
      "name": "Jewelry",
      "description": "Discover exquisite jewelry pieces to complement your style",
      "url": "{% url 'Jewelry' %}",
      "potentialAction": {
        "@type": "ViewAction",
        "target": "{% url 'Jewelry' %}"
      }
    },
    {
      "@type": "WebPage",
      "name": "Home Decor",
      "description": "Find stylish home decor items to transform your space",
      "url": "{% url 'Homedecor' %}",
      "potentialAction": {
        "@type": "ViewAction",
        "target": "{% url 'Homedecor' %}"
      }
    },
    {
      "@type": "WebPage",
      "name": "Beauty Products",
      "description": "Shop premium beauty products for your skincare and makeup needs",
      "url": "{% url 'Beauty-Products' %}",
      "potentialAction": {
        "@type": "ViewAction",
        "target": "{% url 'Beauty-Products' %}"
      }
    }
  ]
}
    </script>
</head>








  <body>
        {% include 'whatsappicon.html' %}
    {% include 'navbar.html' %}



<main>
<section id="home" class="hero-section">
  <div class="hero-left">
    {% for hero_image in hero_images|slice:":2" %}
    <div class="hero-image-container">
      <img
        src="{{ hero_image.product.image.url }}"
        alt="{{ hero_image.category.name }} Hero Image"
        class="hero-image"
        loading="lazy"
      />
      <div class="hero-image-overlay">
        <h3>{{ hero_image.category.name }}</h3>
        {% if hero_image.product.short_description %}
          <p>{{ hero_image.product.short_description }}</p>
        {% endif %}
      </div>
    </div>
    {% empty %}
       <p class="empty-cart-message">No hero images available.</p>
    {% endfor %}
  </div>
  <div class="hero-right">
    {% for hero_image in hero_images|slice:"2:4" %}
    <div class="hero-image-container">
      <img
        src="{{ hero_image.product.image.url }}"
        alt="{{ hero_image.category.name }} Hero Image"
        class="hero-image"
        loading="lazy"
      />
      <div class="hero-image-overlay">
        <h3>{{ hero_image.category.name }}</h3>
        {% if hero_image.product.short_description %}
          <p>{{ hero_image.product.short_description }}</p>
        {% endif %}
      </div>
    </div>
    {% endfor %}
  </div>
</section>

  {% for category in featured_categories %}
  <section id="{{ category.slug }}" class="section {{ category.slug }}-section">
 
    <h2>{{ category.name }}</h2>

    {% if category.slug == 'Beauty-Products' %}
    <div class="beauty-container">
        <div class="beauty-masonry">
        {% for featured in category.get_featured_products %}
          <div class="beauty-item">
            <img
              src="{{ featured.product.get_image_url }}"
              alt="{{ featured.product.name }} - Beauty Products"
              loading="lazy"
            />
            <div class="beauty-overlay">
              <h3>{{ featured.product.name }}</h3>
              <p>{{ featured.product.description }}</p>
            </div>
          </div>
        {% empty %}
          <p class="empty-cart-message">No featured beauty products available at the moment.</p>
        {% endfor %}
      </div>
      
    </div>




    {% elif category.slug == 'Jewelry' %}
    <div class="{{ category.slug }}-showcase">
      {% for featured in category.get_featured_products %}
      <div class="jewelry-item">
        <div class="jewelry-image">
          <img
            src="{{ featured.product.image.url }}"
            alt="{{ featured.product.name }} - Jewelry"
             loading="lazy"
          />
        </div>
        <div class="jewelry-info">
          <h3>{{ featured.product.name }}</h3>
          <p>Ksh.{{ featured.product.price|intcomma }}</p>
          <div class="jewelry-description">{{ featured.product.description }}</div>
        </div>
      </div>
      {% empty %}
        <p class="empty-cart-message">No featured jewelry products available at the moment.</p>
      {% endfor %}
    </div>

    {% elif category.slug == 'Homedecor' %}
    <div class="decor-grid">
      {% for featured in category.get_featured_products %}
      <div class="decor-item">
        <img
          src="{{ featured.product.image.url }}"
          alt="{{ featured.product.name }} - Home Decor"
           loading="lazy"
        />
        <div class="decor-info">
          <h3>{{ featured.product.name }}</h3>
          <p>{{ featured.product.short_description }}</p>
        </div>
      </div>
      {% empty %}
        <p class="empty-cart-message">No featured home decor products available at the moment.</p>
      {% endfor %}
    </div>

    {% elif category.slug == 'Dresses' %}
    <div class="{{ category.slug }}-showcase">
      {% for featured in category.get_featured_products %}
      <div class="dress-category">
        <img
          src="{{ featured.product.image.url }}"
          alt="{{ featured.product.name }} Dresses"
           loading="lazy"
        />
        <h3>{{ featured.product.name }}</h3>
      </div>
      {% empty %}
        <p class="empty-cart-message">No featured dress products available at the moment.</p>
      {% endfor %}
    </div>

    {% endif %}

    <a href="{% url category.slug %}" class="see-more">Explore All {{ category.name }}</a>

  </section>
  {% endfor %}

</main>
    

  </body>
</html>