{% load custom_filters %} {% load static %} {% load humanize %} 
{% for product in products %}
 <div class="product-grid">
<div
  class="product-item"
  data-product-id="{{ product.id }}"
  data-subcategory="{{ product.subcategory.slug|default:'all' }}"
>
  <img src="{{ product.image.url }}" alt="{{ product.name }}" loading="lazy" />
  <h3>{{ product.name }}</h3>
  <p class="product-desc">{{product.short_description}}</p>
  <p class="product-price" data-unit-price="{{ product.price }}">
    Ksh.{{ product.price|intcomma }}
  </p>
  <div class="product-cart">
    <button class="cart-btn" data-product-id="{{ product.id }}">
      Add to Cart
    </button>
    <span class="cart-quantity"
      >{{ cart_quantities|get_item:product.id|default:"0" }}</span
    >
    <button
      class="remove-from-cart"
      data-product-id="{{ product.id }}"
      style="display: {% if cart_quantities|get_item:product.id %}inline-block{% else %}none{% endif %}"
    >
      Remove
    </button>
  </div>

  {% empty %}
  <div class="no-product">
    <p class="empty-cart-message">No products available at the moment.</p>
  </div>
  {% endfor %}
</div>
</div>