{% load static %}
{% load humanize %}

<link rel="stylesheet" href="{% static 'css/styles.css' %}">

<div class="thankyou-container">
    <h1>Thank You for Your Order!</h1>
    <h2>Order Number: {{ order.order_number }}</h2>

    <h3>Order Summary</h3>
    {% for item in order.items %}
        <div class="thankyou-order-item">
            <p>{{ item.product_name }}</p>
            <p>Quantity: {{ item.quantity }}</p>
            <p>Price: Ksh.{{ item.price|intcomma }}</p>
        </div>
    {% endfor %}

    <h3 class="thankyou-total">Subtotal: Ksh.{{ order.subtotal|intcomma }}</h3>
    <h3 class="thankyou-total">Shipping: Ksh.{{ order.shipping_cost|intcomma }}</h3>
    <h3 class="thankyou-total">Total: Ksh.{{ order.total_amount|intcomma }}</h3>

    <p class="thankyou-message">Your order has been prepared. Click the button below to open WhatsApp and send your order to the seller:</p>
   <button onclick="openWhatsApp('{{ whatsapp_number }}', '{{ order_details|escapejs }}')" class="thankyou-button thankyou-whatsapp-button">Open WhatsApp</button>

    <p class="thankyou-message">Want to add more items to your order?</p>
    <a href="{% url 'home' %}" class="thankyou-button thankyou-continue-shopping-button">Continue Shopping</a>

    <p class="thankyou-message">Need to cancel your order?</p>
    <a href="{% url 'cancel_order' %}" class="thankyou-button thankyou-cancel-order-button">Cancel Order</a>
</div>

<script>
function openWhatsApp(phoneNumber, orderDetails) {
    var encodedMessage = encodeURIComponent(orderDetails);
    var whatsappUrl = "https://api.whatsapp.com/send?phone=" + phoneNumber + "&text=" + encodedMessage;
    window.open(whatsappUrl, '_blank');
}
</script>