{% load static %}
{% load humanize %}

<link rel="stylesheet" href="{% static 'css/styles.css' %}">

<div class="thankyou-container">
    <h1>Thank You for Your Order!</h1>
    <h2>Order Number: {{ order.order_number }}</h2>

    <h3>Order Summary</h3>
    {% for item in order.items %}
        <div class="thankyou-order-item">
            <p>name:{{ item.product.name }}</p>
            <p>Quantity: {{ item.quantity }}</p>
            <p>Price: Ksh.{{ item.price|intcomma }}</p>
        </div>
    {% endfor %}

    <h3>Subtotal: Ksh.{{ order.subtotal|intcomma }}</h3>
    <h3>Shipping: Ksh.{{ order.shipping_cost|intcomma }}</h3>
    <h3 class="thankyou-total">Total: Ksh.{{ order.total_amount|intcomma }}</h3>

    <p class="thankyou-message checkout-p">Your order will be sent to the Seller's [Elma +25479-621-9600] Whatsapp Business Number</p>
     <p class="thankyou-message checkout-p">Click the button below to open WhatsApp and confirm your order with the seller:</p>
    <a href="{{ whatsapp_url }}" class="thankyou-button thankyou-whatsapp-button">Open WhatsApp</a>

    <p class="thankyou-message">Want to add more items to your order?</p>
    <a href="{% url 'home' %}" class="thankyou-button thankyou-continue-shopping-button">Continue Shopping</a>

    <p class="thankyou-message">Need to cancel your order?</p>
    <a href="{% url 'cancel_order' %}" class="thankyou-button thankyou-cancel-order-button">Cancel Order</a>
</div>